* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eee;
}

.header {
  background-color: #f5ba13;
  height: 70px;
  box-shadow: 0 0 10px 0 #0000004d;
}

.app-title {
  color: #fff;
  font-family: "McLaren", cursive;
  margin: 0 10px;
  padding: 10px;
}

.footer-container {
  height: 50px;
  position: absolute;
  text-align: center;
  top: 93%;
  left: 50%;
}

.copyright {
  font-family: "McLaren", cursive;
  color: #ccc;
}

.note-container {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  width: 240px;
  float: left;
}

.note-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.note-content {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.login-container {
  background-color: #166161;
}
